:host {
  display: block;
}

main {
  min-height: calc(100vh - 64px - 300px);
  position: relative;
  z-index: 1;
}

/* Override Ionic's default styles for the app container */
ion-app {
  background: transparent !important;
}

:host ::ng-deep ion-content {
  --background: transparent !important;
}